# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
env/
venv/
.venv/
ENV/
.ENV/
env.bak/
venv.bak/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# PIP Downloads
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Coverage reports
